body {
    background-color: #2e1048;
}

p {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
}

h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: small-caps;
    font-size: 32px;
    font-weight: 800;
    margin: 0;
}

.s-before {
    margin-top: 8px;
}

.m-before {
    margin-top: 20px;
}

.l-before {
    margin-top: 60px;
}

.s-after {
    margin-bottom: 8px;
}

.m-after {
    margin-bottom: 20px;
}

.l-after {
    margin-bottom: 60px;
}

.box {
    background-color: #c7902d;
    border-radius: 40px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 60cqw;
    text-align: center;
    overflow: hidden;
}